.container{
    // border: 1px solid red;
    width: 100%;
    border-radius: 6px;
    padding-top: 15px;
    margin-top: 30px;
}
.nopadding-right{
  padding-right: 0;
}

.nopadding-left{
  padding-left: 0;
}
